<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/common.css">
</head>
<body>
  <div class="container">
    <%include components/top.component.ejs%>
      <form action="?" method='post'>
        标题：<input type="text" name='title'><br>
        描述：<textarea name="description" cols="40" rows="5"></textarea><br>
        链接：<input type="text" name='href'><br>
        <button type='submit'>提交</button>
      </form>

      <table>
        <thead>
          <tr>
            <th>id</th>
            <th>标题</th>
            <th>描述</th>
            <th>链接</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <%for(var i=0;i<banner.length;i++){var item = banner[i]%>
          <tr>
            <td>
              <%=item.id%>
            </td>
            <td>
              <%=item.title%>
            </td>
            <td>
              <%=item.description%>
            </td>
            <td>
              <%=item.href%>
            </td>
            <td>
              <a href="?action=update&id=<%=item.id%>">修改</a>
              <a href="?action=delete&id=<%=item.id%>" onclick="return confirm('确定要删除吗')">删除</a>
            </td>
          </tr>
          <%}%>
        </tbody>
      </table>

      <!-- 展示修改的数据 -->
      <%if(typeof moddata != 'undefined'){%>
        <div class='maskBox'>
          <form action="?" method='post'>
            <input type="hidden" name='id' value='<%=moddata.id%>'> 标题：
            <input type="text" name='title' value='<%=moddata.title%>'>
            <br> 描述：
            <textarea name="description" cols="40" rows="5"><%=moddata.description%></textarea>
            <br> 链接：
            <input type="text" name='href' value='<%=moddata.href%>'>
            <br>
            <button type='submit'>提交</button>
            <a href='/admin/banner'>取消</a>
          </form>
        </div>
      <%}%>
  </div>
</body>
</html>